body{
    /*background-color: #ffe87c;*/
    margin-bottom:60px;
}

.sidepic{
    position: fixed;
    display:none;
    margin-top:100px;
}

.maincontent{
    padding-left:30px;
    padding-right:30px;
    padding-top: 44px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color:#aaaaaa;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000000;
}


.footer_content{
    margin-left:30px;
    margin-right:30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
img{
    max-width: 300%;
}

.maincontent{
    margin-bottom:88px;
}